.MainCategoryCardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 28rem;
    background-color: #9aceaa;
    border-radius: 1rem;
    margin-top: 1.5rem;
    text-decoration: none;
    color: black;
  }
  .MainCategoryCardContainer img {
    height: 14rem;
    width: 14rem;
  }
  .MainCategoryCardContainer div {
    align-self: flex-start;
  }
  .MainCategoryCardContainer {
    position: relative;
    z-index: 0;
    overflow: hidden;
  
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: -1.6rem;
      right: -1.6rem;
      background: white;
      height: 4.5rem;
      width: 4.5rem;
      border-radius: 4.5rem;
      transition: transform 0.25s ease-out;
      opacity: 0.3;
    }
  }
  
  @media (max-width: 1024px) {
    .MainCategoryCardContainer {
      width: 20rem;
    }
    .MainCategoryCardContainer img {
      height: 10rem;
      width: 10rem;
    }
  }
  @media (max-width: 798px) {
    .MainCategoryCardContainer {
      width: 16rem;
    }
    .MainCategoryCardContainer img {
      height: 8rem;
      width: 8rem;
    }
  }
  @media (max-width: 640px) {
    .MainCategoryCardContainer {
      width: 16rem;
    }
    .MainCategoryCardContainer img {
      height: 10rem;
      width: 10rem;
    }
    .MainCategoryCardContainer:before {
      display: none;
    }
  }
  @media (max-width: 595px) {
    .MainCategoryCardContainer {
      width: 10rem;
    }
    .MainCategoryCardContainer img {
      height: 8rem;
      width: 8rem;
    }
  }
  @media (max-width: 430px) {
    .MainCategoryCardContainer {
      width: 15rem;
    }
    .MainCategoryCardContainer img {
      height: 9rem;
      width: 9rem;
    }
  }
  @media (max-width: 395px) {
    .MainCategoryCardContainer {
      width: 12rem;
    }
    .MainCategoryCardContainer img {
      height: 8rem;
      width: 8rem;
    }
  }
  @media (width <= 309px) {
    .MainCategoryCardContainer {
      width: 8rem;
    }
    .MainCategoryCardContainer img {
      height: 8rem;
      width: 8rem;
    }
  }
  @media (hover: hover) {
    .MainCategoryCardContainer {
      &:hover:before {
        transform: scale(17);
      }
    }
  }
  