body {
    font-family: 'PT Serif', serif;
}

*::selection {
    background: #2b3dda;
    color: #fff;
  }
  
  html::-webkit-scrollbar {
    width: 1.2rem;
  }
  html::-webkit-scrollbar-track {
    background: rgb(235, 202, 245);
  }
  html::-webkit-scrollbar-thumb {
    background: #420177;
  }
  img{
    border-radius: 15%;
  }